.header__logo {
    display: flex;
    width: 110px;
    height: 18px;
    align-items: center;
    position: relative;
    margin: 0 auto;
    right: -10px;
    &.is-open{
        display: none;
    }
}
.logo__image {
    position: absolute;
}