.header{
    display: flex;
    max-width: 100%;
    height: 52px;
    background-color: #D9D9D9;
    align-items: center;
    position: relative;
}
.div{
    display: flex;
    align-items: center;
}