.header__button {
    border: 0px;
    background: none;
    padding: 0px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button__menu{
    margin: 0px;
}

.button__cross{
    position: absolute;
    top: 8px;
    right: 8px;
}