.header__button {
    border: 0px;
    background: none;
    padding: 0px;
    position: absolute;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &.is-open{
        right: 8px;
        top: 5px;
    }
}

.button__cross{
    position: relative;
}