.swiper{
    width: 290px;
    height: 290px;
  }
  .swiper-slide{
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img{
    width: 100%;
    object-fit: cover;
  }