.home {
  margin-top: 82px;
}

.home__text {
  font-family: "Noto Looped Thai UI";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.home__button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 140px;
  height: 48px;
  background: rgba(125, 162, 235, 0.81);
  border-radius: 10px;
  border: none;
}

.home__link {
  text-decoration: none;
  font-family: "Noto Looped Thai UI";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}
