.clothe {
  margin-top: 68px;
  justify-content: center;
  margin: 0 auto;
}

.clothe__link {
  text-decoration: none;
}

.clothe__item {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.clothe__text {
  font-family: "Noto Looped Thai UI";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  margin-top: 60px;

  color: #000000;
}

.price {
  color: #7da2eb;
  margin-top: 0px;
}

.clothe__client {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.client__size {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 140px;
  height: 30px;
  background: #d9d9d9;
  border-radius: 10px;
  border: 0px;
}

.client__stext {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.client__arrow {
  justify-content: right;
  margin-left: 10px;
  margin-right: 7px;
}

.client__buy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  background: rgba(125, 162, 235, 0.81);
  border-radius: 10px;
  border: 0px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.client__btext {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.discrip__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  padding-bottom: 15px;

  color: #000000;
}

.client__select {
  position: relative;
}

.client__selsize {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #d9d9d9;
  border-radius: 100px;
  right: -40px;
  top: 0px;
  font-family: "Lato";
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
