.sort {
  display: flex;
  width: 140px;
  height: 18px;
  background-color: rgba(217, 217, 217, 0.47);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 34px;
  align-items: center;
  justify-content: center;
}

.sort__button {
  outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 0px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.5);
}

.sort__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.5);
}

.sort__box {
  margin-top: 20px;
  display: none;
  &.is-open{
    display: block;
  }
}

.sort__items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sort__list {
  display: flex;
  width: 65px;
  height: 47px;
  border-radius: 10px;
  background-color: rgba(125, 162, 235, 0.81);
  justify-content: center;
  align-items: center;
}

.sort__link{
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
}